<!DOCTYPE html>
<html>
<head>
    <title>Изменение заметки</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css"  href="/editView.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
</head>
<body>
     
    <header>
        <h1>Заметки</h1>
    </header> 

    <% if (editNote.status.localeCompare("Новая") == 0) color = "green";%>
    <% if (editNote.status.localeCompare("Обрабатывается") == 0) color = "yellow";%>
    <% if (editNote.status.localeCompare("Завершено") == 0) color = "red";%>
    <div class= <%= "edit-" + color %>>
        <form action= <%="/applyEdit/" + editNote.id %> method="post">

            <textarea name = "caption" class="caption"><%= editNote.caption %></textarea><br><br>
            <span><%= editNote.date %></span>
            <textarea name = "content"><%= editNote.content %></textarea><br>
            <select name = "status">
                <option value= <%= editNote.status %>><%= editNote.status %></option>
                <option value="Завершено">Завершено</option>
                <option value="Обрабатывается">Обрабатывается</option>
                <option value="Новая">Новая</option>
            </select><br><br>
            <input type="submit" value = "Изменить заметку" class="edit-button"/>
        </form>
        <form action="/" method="get">
            <input type="submit" value = "Отмена" class="edit-button"/>
        </form>
    </div>
        
</body>
</html>